<p>
  <strong>Title:</strong>
  <%= @similarity.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @similarity.text %>
</p>

<p>
	<%= link_to 'Edit', edit_similarity_path(@similarity) %>
</p>

<p>
	<%= link_to 'Delete', similarity_path(@similarity),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>

<p>
	<%= link_to 'Back', similarities_path %>
</p>
